@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.font-poppins {
    font-family: "Poppins", sans-serif;
}

.brand-text-icon {
    font-size: 26px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: black;
}

.active {
    @apply text-primary;
}

.btn-shadow {
    box-shadow: 0px 0px 80px -27px rgba($primary, 0.3);
}

section {
    margin-top: 70px;
}

.img-cover {
    object-fit: cover; height: 100%; width: 100%;
}

.img-contain {
    object-fit: contain; height: 100%; width: 100%;
}



.card {
    height: 100%;

    .tag {
        z-index: 3;
        font-size: 0.875rem;
        background-color: $primary;
        padding: 0.25rem 1.25rem;
        position: absolute;
        top: 0; right: 0;
        color: $text-white;
        min-height: 30px;
        border-radius: 0 15px;
        span {
            font-weight: 300;
        }

        .img-wrapper {
            height: 100%;
            margin-bottom: 0;
            border-radius: 0.9375rem;
            overflow: hidden;
        }

        .meta-wrapper {
            margin-top: 1rem;
            h5{
                font-size: 1.125rem;
                margin-bottom: 2px;
            }
            span {
                font-size: .875rem;
            }
        }
    }
}